<header>
    <div class="card">
        <div class="toolbar">
            <div class="toolbar__left mr++">
                <lx-dropdown>
                    <button class="btn btn--s btn--blue btn--fab" lx-ripple lx-dropdown-toggle>
                        <i class="mdi mdi--home"></i>
                    </button>

                    <lx-dropdown-menu>
                        <ul>
                            <li><a class="dropdown-link" href="#/home">Home</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-link" href="#/ncgskills">NCG Skills</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-link" href="#/about">About us</a></li>
                        </ul>
                    </lx-dropdown-menu>
                </lx-dropdown>
            </div>

            <span class="toolbar__label fs-title ml">{{head}}</span>

            <div class="toolbar__right">
                <lx-search-filter closed theme="dark"></lx-search-filter>
            </div>
        </div>
    </div>
</header>