<div class="grid">

    <div class="grid__col4">
        <div class="card">
            <div class="p+">
                <strong class="fs-headline display-block">Lorem Ipsum</strong>
                <span class="fs-subhead tc-black-2 display-block">Lorem Ipsum</span>

                <div class="paragraph fs-body-1 mt+">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                    </p>
                </div>
            </div>

            <div class="card__actions">
                <button class="btn btn--m btn--orange btn--flat" lx-ripple>LEARN MORE</button>
            </div>
        </div>
    </div>

    <div class="grid__col4">
        <div class="card">
            <div class="p+">
                <strong class="fs-headline display-block">Lorem Ipsum</strong>
                <span class="fs-subhead tc-black-2 display-block">Lorem Ipsum</span>

                <div class="paragraph fs-body-1 mt+">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                    </p>
                </div>
            </div>

            <div class="card__actions">
                <button class="btn btn--m btn--orange btn--flat" lx-ripple>LEARN MORE</button>
            </div>
        </div>
    </div>

    <div class="grid__col4">
        <div class="card">
            <div class="p+">
                <strong class="fs-headline display-block">Lorem Ipsum</strong>
                <span class="fs-subhead tc-black-2 display-block">Lorem Ipsum</span>

                <div class="paragraph fs-body-1 mt+">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                    </p>
                </div>
            </div>

            <div class="card__actions">
                <button class="btn btn--m btn--orange btn--flat" lx-ripple>LEARN MORE</button>
            </div>
        </div>
    </div>

</div>